body{
	background-color: rgba(68, 66, 66, 1);
}

header{
	font-family: algeriand;
	margin-top: 1;
	background-color: rgba(255, 26, 31, 1);
	height: 150px;
}

h1{
	margin-top: 62 px;
	text-align: center;

}

h2{
	color:rgba(255, 26, 31, 1) ;
}

button:hover {
opacity: 0.7;
}

.start {
	height: 250px;
	width: 445px;
	margin-left: 700px;
	margin-top: 300px;
	align-items: center;
	border-radius: 50%;
	background-color: red;
	font-family: algeriand;
	font-size:  80px;
	border: 10px black;
	cursor: pointer;
}
